@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@300..900&family=Krona+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gochi+Hand&family=Krona+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
    scroll-behavior:smooth;   
}

.logo {
    display: flex;
    justify-content: flex-start;
    width: 35vw;
    margin-left: 50px;
}

.logo img {
    width: 150px;
    height: 75px;
}

a {
    position: relative;
    font-size: 18px;
    padding: 8px;
    font-family: "Krona One", sans-serif;
    color: #000;
    text-decoration: none;
    transition: 0.3s;
}

a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 5px;
    bottom: 0;
    left: 0;
    background-color: #ffc400;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out 0s;
}

a:hover:before {
    visibility: visible;
    transform: scaleX(1);
}

.nav-list a:hover{
    color: #ffc400;
}

nav {
    justify-content: space-evenly;
    display: flex;
    align-items: center;
    background-color: #e5e5e5;
    height: 14vh;

}

.navbar{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 45vw;
}

main {
    width: 100%;
    background: linear-gradient(90deg, #000729, #000755 70.71%);
    background-size: cover;
    height: 610vh;
}

.nav-list {
    list-style: none;
    display: flex;
}

.nav-list li {
    letter-spacing: 3px;
    margin-left: 32px;
}

::-webkit-scrollbar-track{
    background-color: #000729;
}

::-webkit-scrollbar{
    width: 10px;
    background: #e5e5e5;
}

::-webkit-scrollbar-thumb{
    background: linear-gradient(115deg, #001684, #1e00ff);
    border-radius: 1px;
}

.carreia-section{
    width: 100%;
    height: 93vh;
}


.carreira-content{
    display: flex;
    flex-direction: row;
    position: relative;
    z-index: 1;
    width: 100%;
    height: 95vh;
}

.left{
    width: 30%;
    height: 90vh;
}

.right{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-family: "Krona One", sans-serif;
    width: 70%;
    color: #fff;
    height: 90vh;
}

.titulo-Home{
    font-family: "Krona One", sans-serif;
    padding: 0px 10px;
    margin-top: 20px;
    font-size: 50px;
}

.santos p{
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    font-family: 'Darker Grotesque';
}

.santos h2{
    display: flex;
    justify-content: center;
    align-items: center;
}

.homeTituloBaixo{
    justify-content: space-between;
    padding: 50px 0px 0px 35px;
    display: flex;
    position: relative;
    right: 0;
    font-size: 20px;

}

.Home_destaques{
    font-size: 20px;
    width: 40%;
}

.Home_Alegria{
    font-size: 20px;
    margin-right: 100px;
    width: 40%;
}

.Home_Alegria h2{
    display: flex;
}

.Home_Alegria p{
    font-size: 20px;;
    font-weight: 700;
    font-family: 'Darker Grotesque';
    margin: 0px 0px 10px 0px;
}

.Home_destaques p{
    font-size: 20px;
    font-weight: 700;
    font-family: 'Darker Grotesque';
    margin: 0px 0px 10px 0px;
}

#neyCarreira{
    width: 90%;
    height: 100%;
}

.transicao{
    top: -250px;
    position: relative;
    z-index: 2;
}

.transicao-barca{
    top: -300px;
    position: relative;
    z-index: 8;
}


.barca-section{
    width: 100%;
    height: 83vh;
    background-color: #fff;
}

.barca-content{
    top: -90px;
    display: flex;
    flex-direction: row;
    position: relative;
    z-index: 7;
    width: 100%;
    height: 95vh;
}

.triagulo{
    fill: url(#gradient) #000729;
}


.rightBarca{
    width: 70%;
    height: 90vh;
}

.leftBarca{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-family: "Krona One", sans-serif;
    width: 30%;
    color: #fff;
    height: 90vh;
}

.tituloBarca{
    font-family: "Krona One", sans-serif;
    padding: 0px 10px;
    margin-top: 20px;
    font-size: 40px;
}

.barca p{
    font-size: 20px;
    text-align: center;
    font-weight: 700;
    font-family: 'Darker Grotesque';
}

.barca h2{
    display: flex;
    justify-content: center;
    align-items: center;
}


.psg-section{
    width: 100%;
    height: 83vh;
}

.psg-content{
    top: -35px;
    display: flex;
    flex-direction: row;
    position: relative;
    z-index: 9;
    width: 100%;
    height: 95vh;
}

.rightPsg{
    position: relative;
    top: -80px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 30%;
    height: 90vh;
}

.leftPsg{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-family: "Krona One", sans-serif;
    width: 70%;
    color: #fff;
    height: 90vh;
}

.tituloPsg{
    font-family: "Krona One", sans-serif;
    padding: 0px 10px;
    margin-top: 20px;
    font-size: 40px;
}

.psg p{
    font-size: 20px;
    text-align: center;
    font-weight: 700;
    font-family: 'Darker Grotesque';
}

.psg h2{
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.transicaoPSG{
    top: -300px;
    position: relative;
    z-index: 10;
}

.rightPsg img{
    width: 120%;
    height: 80%;
}

.alhilal-section{
    width: 100%;
    height: 83vh;
    background-color: #fff;
}

.Al-content{
    top: -75px;
    display: flex;
    flex-direction: row;
    position: relative;
    z-index: 11;
    width: 100%;
    height: 95vh;
}

.rightAl{
    position: relative;
    display: flex;
    justify-content: center;
    width: 70%;
    height: 90vh;
}

.leftAl{
    position: relative;
    z-index: 14;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-family: "Krona One", sans-serif;
    width: 30%;
    color: #fff;
    height: 90vh;
}

.tituloAl{
    font-family: "Krona One", sans-serif;
    padding: 0px 10px;
    margin-top: 20px;
    font-size: 40px;
}

.all p{
    font-size: 20px;
    text-align: center;
    font-weight: 700;
    font-family: 'Darker Grotesque';
}

.all h2{
    font-size: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.transicaoAll{
    top: -300px;
    position: relative;
    z-index: 10;
}

.leftAl img{
    width: 100%;
    height: 70%;
}

.transicao-AL-hilal{
    top: -300px;
    position: relative;
    z-index: 11;
}

.selecao-section{
    width: 100%;
    height: 83vh;
    
}

.selecao-content{
    top: -30px;
    display: flex;
    flex-direction: row;
    position: relative;
    z-index: 11;
    width: 100%;
    height: 95vh;
}

.rightSelecao{
    top: -180px;
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 30%;
    height: 100vh;
}

.leftSelecao{
    position: relative;
    z-index: 14;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-family: "Krona One", sans-serif;
    width: 70%;
    color: #fff;
    height: 90vh;
}

.tituloSelecao{
    font-family: "Krona One", sans-serif;
    padding: 0px 10px;
    margin-top: 20px;
    font-size: 40px;
}

.selecao p{
    font-size: 20px;
    text-align: center;
    font-weight: 700;
    font-family: 'Darker Grotesque';
}

.selecao h2{
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rightSelecao img{
    width: 90%;
    height: 100%;
}

.transicaoSelecao{
    top: -300px;
    position: relative;
    z-index: 11;
}

.comunidade-section{
    width: 100%;
    height: 100vh;
}

.comunidade-content{
    justify-content: flex-start;
    align-items: center;
    top: -30px;
    background: linear-gradient(90deg, #ffcc24, #46ff2a,  #00a0c8);
    display: flex;
    color: #000729;
    flex-direction: column;
    position: relative;
    z-index: 11;
    width: 100%;
    height: 110vh;
}

.tituloCentral{
    font-size: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px 25px;
    align-items: center;
    font-family: "Krona One", sans-serif;
}

.tituloCentral p{
    text-align: center;
    font-size: 20px;
}

.trianguloNJR{
    fill: url(#gradiente) #ffc400;
}

.NJR{
    font-size: 15px;
    display: flex;
    width: 40%;
    flex-direction: column;
    justify-content: flex-start;
    padding: 20px 25px;
    align-items: flex-start;
    font-family: "Krona One", sans-serif;
}

.tituloInstituto{
    width: 100%;
    display: flex;
    font-family: "Krona One", sans-serif;
    padding: 0px 10px;
    margin-top: 20px;
    font-size: 40px;
}

.homeTituloBaixoNJR{
    font-size: 15px;
    display: flex;
    width: 66%;
    flex-direction: row;
    justify-content: center;
    padding: 20px 25px;
    align-items: flex-start;
    font-family: "Krona One", sans-serif;
}

.NJR p{
    font-size: 20px;
    padding: 8px;
    font-weight: 700;
    font-family: 'Darker Grotesque';
}

.Home_AlegriaNJR{
    margin-right: 100px;
    width: 40%;
}


.Home_destaquesNJR{
    width: 40%;
}

.Home_AlegriaNJR h2{
    font-size: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.Home_AlegriaNJR p{
    font-size: 20px;
    padding: 8px;
    font-weight: 700;
    font-family: 'Darker Grotesque';
}

.Home_destaquesNJR p{
    font-size: 20px;
    padding: 8px;
    font-weight: 700;
    font-family: 'Darker Grotesque';
}

.leftInstituto{
    width: 50%;
    height: 60vh;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.leftInstituto img{
    position: relative;
    top:-300px;
    width: 50%;
    height: 100%;
}

.transicao-NJR{
    top: -300px;
    position: relative;
    z-index: 11;
}

.transicao-barca{
    top: -300px;
    position: relative;
    z-index: 8;
}


.neyQuiz-section{
    width: 100%;
    height: 83vh;
}

.NeyQuiz-content{
    color: #fff;
    top: 0px;
    display: flex;
    flex-direction: row;
    position: relative;
    z-index: 11;
    width: 100%;
    height: 95vh;
}



.rightNeyQuiz{
    width: 67%;
    height: 90vh;
}

.leftNeyQuiz{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-family: "Krona One", sans-serif;
    width: 33%;
    color: #fff;
    height: 90vh;
}

.leftNeyQuiz img{
    width: 100%;
    height: 110%;
}

.tituloNeyQuiz{
    font-family: "Krona One", sans-serif;
    padding: 0px 10px;
    margin-top: 20px;
    font-size: 40px;
}

.neyQuiz p{
    font-size: 25px;
    text-align: center;
    font-weight: 700;
    font-family: 'Darker Grotesque';
}

.neyQuiz h2{
    display: flex;
    justify-content: center;
    align-items: center;
}

.homeTituloBaixoNeyQuiz{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 70px;
}

.homeTituloBaixoNeyQuiz> button{

border: none;
    padding: 10px;
    font-family: "Krona One", sans-serif;
    background-color: #ffc400;
    color: #f9f9f9;
    border-radius: 10px;
    cursor: pointer;
    font-size: 20px;
    box-shadow: 0px 8px 8px 0px rgba(0, 0, 0, 0.2);
    width: 15vw;
}

.transicaoNey{
    top: -300px;
    position: relative;
    z-index: 11;
}

.footer-container{
    position: relative;
    top: -30px;
    z-index: 11;
    width: 100%;
    height: 30vh;
}

.footer_ney{
    display: flex;
    font-family: "Krona One", sans-serif;
    width: 100%;
    height: 100%;
}

.Contact_footer, .Partner_footer, .Xplr_footer{
    margin-top: 10px;
    font-size: 20px;
    display: flex;
    font-family: "Krona One", sans-serif;
    text-align: center;
    align-items: center;
    flex-direction: column;
    width: 20vw;
    height: 100%;
}

#titulos_footer{
    height: 5vh;
    font-size: 15px;
    display: flex;
    align-self: center;
}

.copyright_footer {
    font-size: 12px;
    display: flex;
    text-align: center;
    align-items: center;
    width: 36vw;
    height: 100%;
}

.SocialMidia_footer{
    font-size: 10px;
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
    width: 20vw;
    height: 100%;
}

.Partner_footer p{
    font-size: 12px;
}

.Xplr_footer a{
    font-size: 12px;
    padding: 5px;
}

.imgs{
    display: flex;
    justify-content: center;
    width: 100%;
    flex-direction: row;
}

.imgs img {
    width: 30px;
}

#Contato_footer{
    font-weight: normal;
    font-size: 12px;
    line-height: 30px;
}